html body{
    max-width: 1440px;
  margin: 0 auto; /* Centra horizontalmente */
  padding: 0;
  background-color: rgb(255, 255, 255);
  cursor: url("cursor.png") 0 0, auto;
  width: 100%;          /* Asegura que siempre ocupe el 100% */
  overflow-x: hidden;   /* Previene scroll horizontal si algo se desborda */
  box-sizing: border-box;
}
a:hover,
button:hover {
  cursor: url("apretado.png") 0 0, pointer;
}
 .marquee-container {
      width: 104%;
      border: 3px solid #31C5F7;
      background-color: #F3B7FA;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 5px 0;
    }
    .marquee-text {
      display: inline-block;
     animation: marquee 12s linear infinite;
      font-weight: bold;
      font-size: 2rem;
       font-family: "Jockey One", sans-serif;
      color: #DB0800;
       text-shadow:
        -1px -1px 0 #E829FF,
         1px -1px 0 #E829FF,
        -1px  1px 0 #E829FF,
         1px  1px 0 #E829FF;
    }
.marquee span {
    float: left;
    width: 50%;
}
  @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
.floating-gif {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 800;
      height: auto;
      width: 50vw; 
      max-width: 300px;
      aspect-ratio: 1 / 1;
    }
    .floating-gif img {
      width: 100%;
      height: auto;
      display: block;
    }
    .gif-text {
      position: absolute;
      top: 25px;
      left: 30px;
      color: #2F23FA;
      font-weight: bold;
      font-size: 2rem;
        font-family: "Jersey 15", sans-serif;
      line-height: 1.2;
      text-align: left;
      text-shadow:
        -2px -2px 0 #FFF,
         2px -2px 0 #FFF,
        -2px  2px 0 #FFF,
         2px  2px 0 #FFF;
      pointer-events: none;
    }
  .fara-games-title {
      font-family: "Jockey One", sans-serif;
      font-weight: bold;
      color: #0F0349;
      text-shadow: 
      -3px -3px 0 #E829FF,
      3px -3px 0 #E829FF,
      -3px  3px 0 #E829FF,
      3px  3px 0 #E829FF;
      word-spacing: 8rem; 
      margin-top: 50px;
      margin-left: 50px;
    }
    .fara-games-title-large {
      font-size: 6rem; 
    }
    .martin-cirio-title {
        font-family: "Jockey One", sans-serif;
        color: #000000;
        word-spacing: 15rem; 
        font-size: 2rem;
        margin-top: 10px;
    }
    .img-martina-wrapper {
        position: relative;
        width: 100%;
        height: 0;
     }
     .img-martina {
        position: absolute;
        top: -15rem; 
        left: 50%;
        transform: translateX(-50%);
        width: 300px; 
        max-width: 40vw;
        height: auto;
        z-index: 10;
        pointer-events: none; 
    }
    .regreso-textos {
    font-family: "Jersey 15", sans-serif;
    padding-top: 1rem;
    }
  .bg-texto {
    background-color: #F494FF;
    display: block;
    padding: 0rem ;
    font-size: 1.7rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    margin-top: 0rem; 
    margin: 0.2rem auto; 
    }
  .brillibrilli-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -22rem; 
  z-index: 10;
}

.brillibrilli-gif {
  max-width: 300px;
  width: 100%;
  height: auto;
  z-index: 5;
}
.promo-section {
  margin-top: 11rem;
}
.promo-section img {
max-width: 320px;
}
.promo-text-container {
  display: flex;
  justify-content: flex-start;   
  padding-left: 10rem;
  margin-top: 2rem;
}
.promo-text-row {
  display: inline;
  align-items: center;
}
.promo-text {
  font-family: "Jost", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
}
.mobicom-img {
  height: auto;
}
.custom-gradient-btn {
    padding: 1rem 2rem;
    font-size: 2.5rem;
    background: linear-gradient(to right, #7523FA, #2F23FA);
    font-family: "Jockey One", sans-serif !important;
    color: white !important;
    margin-top: 0 !important;
  }
.custom-gradient-btn:hover {
 cursor: url("apretado.png") 0 0, pointer;
}
.vervideo{
  border-radius: 0%;
  padding: 0.5rem 1.5rem;
}
  .modal-title-custom {
    color: black;
    font-family: "Jersey 15", sans-serif;
    font-size: 1.1rem;
    text-align: left;
  }

  .custom-submit-btn {
    background: linear-gradient(to right, #7523FA, #2F23FA);
    font-family: "Jockey One", sans-serif !important;
    color: white !important;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0;
    
  }
  .custom-submit-btn:hover{
    cursor: url("apretado.png") 0 0, pointer;
  }
  .modal-body input[type="text"],
.modal-body input[type="email"] {
  border: 2px solid #2F23FA;
  color: #7523FA;
  font-size: 5 rem;
  font-family: "Jersey 15", sans-serif;
  border-radius: 0%;
}
.modal-body input[type="text"],
.modal-body input[type="email"]:hover {
cursor: url("apretado.png") 0 0, pointer;
}
.modal-body input::placeholder {
  color: #7523FA;
  opacity: 1; 
}
.brillomodal-modal-header {
    background-image: url("brillomodal.gif");
    background-size: cover;
    background-position: center;
    height: 3rem; 
    position: relative;
    border-bottom: none;
    border-radius: 0%;
  }
   .custom-close-btn {
  background: none;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.custom-close-btn img {
  width: 100%;
  height: auto;
  display: block;
}
  .btn-close:hover{
cursor: url("apretado.png") 0 0, pointer;
}
  .brillomodal-modal-header .btn-close {
    position: relative;
    z-index: 20;
    filter: invert(1);
  }
.texto-vuelta {
  background-color: #FCDFFF;
  font-family: "Jersey 15", sans-serif;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  text-shadow:
    -2px -2px 0 #E829FF,
     2px -2px 0 #E829FF,
    -2px  2px 0 #E829FF,
     2px  2px 0 #E829FF;
  border-radius: 10px;
  margin-top: -15rem;
  margin-bottom:11rem;
}
.tweet-img-container {
  margin-top: -5rem;
  margin-bottom: 4rem;
}
.tweet-img {
  max-width: 70%;
  margin-top: 2rem;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.tweet-img:hover {
  transform: scale(1.03);
  cursor: url("apretado.png") 0 0, pointer;
}
.memoria-section {
  margin-top: 5rem; /* Ajustá este valor como quieras */
}
  .memoria-text {
    margin-top: 15rem;
    font-family: 'Jersey 15', sans-serif;
    font-size: 4rem;
    color:  #2F23FA;
    text-shadow: -1px -1px 0 #FFF, 3px -3px 0 #FFF, -3px 3px 0 #FFF, 3px 3px 0 #FFF;
  }
.juego-stack-horizontal {
    position: relative;
    margin-left: 2rem;
  }
  .juego-img-horizontal {
    position: relative;
    width: 350px;
    margin-left: -50px;
    overflow: visible;
    transition: transform 0.3s ease, z-index 0.3s ease;
    z-index: 200;
    cursor: pointer;
  }
  .juego-img-horizontal:hover {
    transform: scale(1.2);
    z-index: 300;
    cursor: url("apretado.png") 0 0, pointer;
  }
  .juego-img-horizontal.clicked {
  transform: scale(1.2);
  z-index: 300;
}
.img-corner-zolapa {
  position: absolute;
  bottom: -2rem; 
  left: -1rem;
  height: 8rem; 
  z-index: 5; 
}
.martinsinremera {
  transform: translateX(-20%) rotate(-2deg);
  bottom: -2.3rem;
}
.martinprincesa {
  transform: translateX(-20%) rotate(0deg);
  height: 10rem;
}
.martinfuneral {
  transform: translateX(-20%) rotate(2deg);
  left: 0rem;
  height: 9rem;
}
.enemamartincirio{
  left: 8rem;
  top: 15rem;
  height: 15rem;
}
.paloma{
  left: 16rem;
  top: 5rem;
  height: 5rem;
}
.cuadrado-gradient {
  width: 250px;
  height: 200px;
  background: linear-gradient(135deg, #D5BAFF, #EEE3FF);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.cuadrado-1{
  width: 310px;
  height: 190px;
  margin-right: 6rem ;
}
.cuadrado-2{
  width: 300px;
  height: 250px;
  margin-left: 20rem;
  margin-top: 5rem;
}
.cuadrado-3{
  width: 320px;
  height: 260px;
  margin-right: 1rem;
  margin-top: 5rem;
}
.cuadrado-superpuesto {
  position: absolute;
  background: linear-gradient(135deg, #F3B7FA, #F8D3FD);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.cuadrado-label {
  position: absolute;
  top: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #7523FA;
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  z-index: 3;
  white-space: nowrap;
}
.cuadrado-borde-blanco1 {
  width: 17rem;
  height: 10rem;
  border-radius: 1rem;
  border: 0.5rem solid white;
  box-sizing: border-box;
}
.cuadrado-borde-blanco1 h3 {
  font-family: "Jost", sans-serif;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: black ;
}
.cuadrado-borde-blanco2 {
  width: 16rem;
  height: 12.5rem;
  border-radius: 1rem;
  border: 0.5rem solid white;
  box-sizing: border-box;
}
.cuadrado-borde-blanco2 h3 {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: black ;
}
.cuadrado-borde-blanco3 {
  width: 16rem;
  height: 12.5rem;
  border-radius: 1rem;
  border: 0.5rem solid white;
  box-sizing: border-box;
}
.cuadrado-borde-blanco3 h3 {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: black ;
}
.cuadrado-1-superpuesto {
  width: 310px;
  height: 200px;
  top: -3rem;
  right: 5rem;
}
.cuadrado-2-superpuesto {
  width: 300px;
  height: 250px;
  top: 3rem;
  left: 23rem;
}
.cuadrado-3-superpuesto {
  width: 320px;
  height: 260px;
  top: 3rem;
  left: 35rem;
}
.martinacompu-img {
  border: 6px solid #E829FF;
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
}
.custom-box {
  position: relative;
  margin-left: 15.2rem;
  width: 50rem;
  height: auto;
  background-color: white;
  border: 5px solid #B587FF;
  overflow: hidden;
}
.custom-box h5{
  font-family: "Jost", sans-serif;
  padding: 2rem 2rem;
  color: #260F94 ;
}
.custom-box-header {
  background-color: #B587FF;
}
.custom-box-title {
  color: white;
  font-family: "Jersey 15", sans-serif;
  font-size: 2.4rem;
  padding-left: 0.8rem;
}
.imagenes-sobre-container {
  margin-top: -10rem; 
  padding: 0 15rem;
  z-index: 2;
  position: relative;
}
.imagen-borde-izquierda{
max-width:200px;
height: auto;
}
.imagen-borde-derecha {
  max-width: 300px;
  height: auto;
}
.final-container {
  background-color: #DCC7FF;
  height:auto;
  position: relative;
  overflow: hidden;
  padding-top: 0rem;
  padding-bottom: 0 !important;
}
.textoform h5{
  font-size: 2.1rem;
}
.final-container input[type="text"],
.final-container input[type="email"] {
  border: 3px solid #7523FA;
  color: #7523FA;
  font-size: 1.5rem;
  font-family: "Jersey 15", sans-serif;
  border-radius: 0%;
}
.final-container input::placeholder {
  color: #7523FA;
  opacity: 1;
}
.berta-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -5rem;
  position: relative;
}
.berta-img {
  max-width: 10rem;
  height: auto;
  transform: translateY(10px); /* la baja para que sobresalga */
}
.jost-text {
  font-family: 'Jost', sans-serif;
  color: black;
}
.btn-final {
  background: linear-gradient(to right, #2F23FA, #7523FA);
  color: white;
  font-family: 'Jost', sans-serif;
  border: none;
  font-size: 1.5rem;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  border-radius: 0;
}
.modal-content {
  border: 3px solid black !important;
  border-radius: 0 !important;
}
.dino-modal-img {
  position: absolute;
  bottom: 3rem;
  left: -1rem;
  width: 7rem;
  height: auto;
  transform: translateY(40%) rotate(23deg);
  z-index: 1;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}
footer img {
max-width: 3rem;
}
.footer-link {
    font-family: 'Jost', sans-serif;
    text-decoration: underline;
    color: black;
    text-decoration-color: #2F23FA;
}
  .footer-link:hover {
    color: #7523FA;
    text-decoration-color: #7523FA;
  }
      @media (max-width: 576px) {
        .floating-gif{
            width: 40vw;
        }
      .gif-text {
        font-size: 4.5vw;
        top: 20px;
      }
    }
      @media (max-width: 992px) {
      .fara-games-title-large {
        font-size: 4rem; 
      }
    }
    @media (max-width: 768px) {
      .fara-games-title-large {
        font-size: 3rem; 
      }
        .martin-cirio-title {
    font-size: 1.5rem;
    word-spacing: 1rem;
  }
    .img-martina {
    max-width: 40vw;
    top: -3rem;
  }
  .regreso-line {
    font-size: 1.4rem;
  }
    }
    @media (max-width: 576px) {
      html, body {
  width: 100%;
  overflow-x: hidden;
}
      .fara-games-title-large {
        font-size: 2.5rem; 
        word-spacing: 5rem;
        margin-left:20px;
      }
    .martin-cirio-title {
    font-size: 1.2rem;
    word-spacing: 10rem;
  }
  .img-martina {
    max-width: 40vw;
    top: -8rem;
  }
  .regreso-line {
    font-size: 1.2rem;
  }
  .bg-texto {
    font-size: 1rem;
    margin-top: 0rem; 
  }
  .brillibrilli-container {
    margin-top: -15rem; 
    max-width: 100 px;
    bottom: 0;
    }
    /* Ajustes para sección promo */
  .promo-section {
    margin-top: 5rem;
    margin-bottom: -18rem;
    text-align: center;
  }

  .promo-text {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .custom-gradient-btn {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0;
    margin-top: 1rem;
    width: auto;
  }

  .mobicom-img {
    max-width: 100px;
  }
.promo-section .order-2 {
  order: 3 !important; /* mobicom va al final */
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.promo-section .order-2 img {
  max-width: 250px !important;
  height: auto !important;
}
  /* Texto vuelta */
 .texto-vuelta {
  display: flex;                    
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0;
  font-size: 1.2rem;
  background-color: #FCDFFF;
  font-family: "Jersey 15", sans-serif;
  color: white;
  margin: 1rem 0;                   
  text-shadow:
    -2px -2px 0 #E829FF,
     2px -2px 0 #E829FF,
    -2px  2px 0 #E829FF,
     2px  2px 0 #E829FF;
  width: 100vw;                     
  box-sizing: border-box;
  line-height: 1.5;
}
.tweet-img-container {
  margin-top: -5rem;
  margin-bottom: 4rem;
}

  .tweet-img {
    max-width: 100%;
    border-radius: 0px;
  }
.tweet-zigzag-container {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
  /* GIF memoria */
  .memoria-text {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .juego-img-horizontal {
    width: 130px;
    left: 0.5rem;
  }

  /* Cuadrados */
  .cuadrado-gradient,
  .cuadrado-superpuesto {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }

  .cuadrado-label {
    font-size: 2rem;
    padding: 0.3rem 0.7rem;
  }

  .cuadrado-borde-blanco1 h3,
  .cuadrado-borde-blanco2 h3,
  .cuadrado-borde-blanco3 h3 {
    font-size: 1.1rem;
    padding: 1rem;
  }

  .img-corner-zolapa {
    max-width: 80px;
    bottom: 0;
  }

  /* Imagen compu */
  .martinacompu-img {
    max-width: 70%;
    margin: 1rem auto;
  }

  /* Box Don Cirio */
  .custom-box-title {
    font-size: 1.8rem;
  }

  .custom-box h5 {
    font-size: 1.1rem;
    padding: 1rem;
  }

  /* Form final */
  .final-container {
    padding: 2rem 1rem;
  }

  .custom-submit-btn,
  .btn-final {
    width: 100% !important;
    font-size: 1.2rem;
  }

  .berta-wrapper {
    position: relative;
    height: auto;
    top: 7rem;
  }

  .berta-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5.5rem; 
    width: 5.5rem;
    transform: none;
    z-index: 10;
  }

  /* Modales */
  .modal-body{
    width: auto;
    height: auto;
  }
  .modal-body p {
    font-size: 1rem !important;
  }

  .btn-final {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  .dino-modal-img {
    max-width: 120px;
    margin-top: 1.5rem;
  }
 /* Cuadrados */
  .cuadrado-1{
    width: 200px;
    height: 150px;
    position: relative !important;
    margin: 1rem auto;
    top: 0 !important;
    left: 8rem !important;
    right: 0 !important;
  }
  .cuadrado-2 {
    width: 250px;
    height: 150px;
    position: relative !important;
    margin: 1rem auto;
    top: 0 !important;
    left: 2rem !important;
    right: 0 !important;
  }
  .cuadrado-3 {
    width: 300px;
    height: 150px;
    position: relative !important;
    margin: 1rem auto;
    top: 0 !important;
    left: 7rem !important;
    right: 0 !important;
  }
  .cuadrado-1-superpuesto {
    width: 200px;
    height: 150px;
    position: relative !important;
    margin: 1rem auto;
    top: -1rem !important;
    left: -3rem !important;
    right: 0 !important;
  }
  .cuadrado-2-superpuesto{
    width: 250px;
    height: 150px;
    position: relative !important;
    margin: 1rem auto;
    top: -1rem !important;
    left: -9rem !important;
    right: 0 !important;
  }
  .cuadrado-3-superpuesto {
    width: 300px;
    height: 150px;
    position: relative !important;
    margin: 1rem auto;
    top: -1rem !important;
    left: -4rem !important;
    right: 0 !important;
  }
  .cuadrado-borde-blanco1 {
    width: 155px;
    height: 115px;
    border-width: 0.3rem;
    padding: 0.5rem;
  }
  .cuadrado-borde-blanco2 {
    width: 170px;
    height: 120px;
    border-width: 0.3rem;
    padding: 0.5rem;
  }
  .cuadrado-borde-blanco3 {
    width: 180px;
    height: 120px;
    border-width: 0.3rem;
    padding: 0.5rem;
  }

  .cuadrado-borde-blanco1 h3,
  .cuadrado-borde-blanco2 h3,
  .cuadrado-borde-blanco3 h3 {
    font-size: 0.7rem;
    padding: 1rem 0.5rem;
  }

  .cuadrado-label {
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
  }

  /* Imágenes superpuestas */
  .img-corner-zolapa {
    height: 4rem;
    bottom: -1.5rem;
    left: -0.5rem;
  }
  .enemamartincirio {
    display: block !important;
    position: absolute;
    top: 9.2rem;
    left: 6rem;
    max-width: 25rem;
    height: 10rem;
    object-fit: contain;
    z-index: 10;
  }
   .martinsinremera{
    top: 4.8rem;
    width: 5rem;
    height: 5.5rem;
   }
  .martinprincesa{
    top: 4.8rem;
    width: 4.5rem;
    height: 5.5rem;
  }
  .martinfuneral{
    top: 5.5rem;
    width: 4.6rem;
    height: 5rem;
  }
  .paloma{
    left: 10rem;
    top: 2rem;
  }
  .martinsinremera,
  .martinprincesa,
  .martinfuneral {
    transform: translateX(-10%) rotate(0deg);
  }

  /* Sección final */
  .final-container {
    padding: 2rem 1rem;
    padding-bottom: 6rem !important; 
  }
  
  .textoform h5 {
    font-size: 1rem;
  }

  .final-container input[type="text"],
  .final-container input[type="email"] {
    font-size: 1rem;
  }
.btn-final {
  width: fit-content !important;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  margin: 0 auto;
  
}
.custom-submit-btn {
  width: fit-content !important;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
}
.custom-box {
  width: 90% !important;
  margin: 2rem auto !important;
  border-width: 3px;
}
.custom-box h2 {
  padding: 0;
  font-size: 1.3rem !important;
}
.custom-box h5 {
  font-size: 0.8rem !important;
  padding: 1rem 1rem !important;
}
.imagenes-sobre-container {
  margin-bottom: -5rem;
  
}
.imagen-borde-izquierda{
  max-width: 8rem;
  margin-left: -15rem;
  margin-top: 5rem;
}
.imagen-borde-derecha{
  max-width: 10rem;
  margin-left: 7rem
   
}
  /* Footer */
  footer img[src*="palito.png"] {
  display: none !important;
}
 footer .container-fluid,
footer .d-flex {
  flex-wrap: nowrap !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 0.5rem !important;
  overflow-x: auto; 
  white-space: nowrap;
  
}

.footer-link {
  font-size: 0.6rem;
  margin: 0 0.2rem !important;
  padding: 0;
}

footer img,
footer .icon,
footer .redessociales {
  max-width: 1.5rem;
  height: auto;
  
}
.modal-content img {
  width: 5rem;
  top: 8rem;
  z-index: 100;
}

.modal-title{
  font-size: 0.9rem;
}
.modal-content {
  justify-content: center;
  right: 0rem;
  width: 80% !important;
  max-width: 360px;
  font-size: 0.9rem;
  box-sizing: border-box;
  border: 2px solid black !important;
}
.modal-body input[type="text"],
.modal-body input[type="email"] {
  font-size: 1rem !important;
}
    }
